:root {
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
    --cyan: #0ffff0;
}

*{
    color: var(--fontColor);
    font-family: Helvetica;
}

#bgVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#content {
    position: relative;
    bottom: 5;
    background: rgba(0, 0, 0, 0);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

  #c_form {
    bottom: 0%;
      position: fixed;
      background: rgba(0, 0, 0, 0.1);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

  #Msg {
     color: gray;
     height: 100px;
  }

  #csumbit {
      color: green;
      background-color: green;
  }